.rating-field{
    width: fit-content;
    height: max-content;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-field {
    padding: 0 10px;
}

.rate-stars {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-header {
    margin-top: 15px;
    margin-bottom: -5px;
    text-align: center;
    letter-spacing: 3px;
    opacity: .8;
    font-family: 'Staatliches', sans-serif;
}

.fa-star {
    font-size: 20px;
    color: rgb(226, 225, 225);
    transition: color .4s linear;
	 margin: 0 11px;
}

.marked {
    color: #FFA41C;
}